.linktag{
    text-decoration:none;
}
.m115{
    font-weight:300;
    font-size:2.8em;
    text-transform:uppercase;
    letter-spacing:0.3em;
}
.m16 {
    position: relative;
    font-weight: 400;
    font-size: 1.3em;
    color: blue;
  }
  .ml6 {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6  {
    display: inline-block;
    line-height: 1em;
  }
  .profile-container {
    position: relative;
    display: inline-block;
  }

  .icon {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size:24px;
    cursor: pointer;
  }
  .sub-menu-wrap{
    width: 100%;
    right: 10%;
    max-height: 0px;
    /* overflow: hidden;*/
     /* transition: max-height 0.5s; */
  }
  .sub-menu-wrap.open-menu{
    max-height: 400px;
  }
  .sub-menu{
    background: #ffffff4c;
    padding: 20px;
    margin: 10px;
    
  }
  .user-info{
    display: flex;
    align-items: center;
  }
  .user-info h3{
    font-weight: 500;
  }
  .user-info img{
    width: 50px;
    border-radius: 50%;
    margin: 15px;
  }
  /* .sub-menu hr{
    border:0;
    height: 1px;
    width: 200px;
    background: #ccc;
    margin: 15px 0 10px;
  } */
  .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#525252;
    margin:12px 0;
  }
  .sub-menu-link p{
    width: 150%;
    margin-bottom: 2px;
  }
  .sub-menu-link img{
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
  }
  .sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
  }
  .sub-menu-link:hover span{
    transform: translateX(5px);
  }
  .sub-menu-link:hover p{
    font-weight: 600;
  }

  .mid::-webkit-scrollbar{
    width:0;
  }
  
  