.custom-file-upload input[type="file"] {
    display: none;
}
.custom-file-upload label {
    /* display: inline-block; */
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    margin: 10px;
}
body{
    background-image: url("../image_file/background_image.jpg");
    background-size: cover;
    /* Center the background image horizontally and vertically */
    background-position: center;
    /* Ensure the background image is fixed and does not scroll with the content */
    background-attachment: fixed;
}
.card {
  position: fixed; /* Position the card fixed */
  top: 50%; /* Position from the top */
  left: 50%; /* Position from the left */
  transform: translate(-50%, -50%); /* Center the card horizontally and vertically */
}

  .box {
    
    /* width: 60vmin;
    height: 50vmin; */
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;
  
    --border-angle: 0turn;
    --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );
  
    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 25%,
      #08f,
      #f03 99%,
      transparent
    );
  
    background: var(--main-bg) padding-box, var(--gradient-border) border-box,
      var(--main-bg) border-box;
  
    background-position: center center;
  
    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 0turn;
      }
    }
  
    &:hover {
      animation-play-state: paused;
    }
  }
  
  /* @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  } */
  